.dashcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px;
    background-color: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.widgetContainer {
    flex: auto;
    min-width: 250px;
    max-width: 1000px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.06);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border: '1px solid #ccc';
    align-items: stretch;
    justify-content: center;
}

.horizontalWidgetContainer {
    flex: auto;
    min-width: 250px;
    max-width: 1000px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0);
    gap: 24px;
    padding: 1rem;
    display: flex;
    border: '1px solid #ccc';
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.horizontalContainer {
    flex: auto;
    min-width: 250px;
    max-width: 1000px;
    background: #ffffff00;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0);
    gap: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.centerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}